/* first */


.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  font-variation-settings: auto
    "wdth" 100;
}

.navbar{
    font-weight: bold;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: black;
}
.btn-un{
    padding: 5px 10px;
   background-color: rgb(40, 214, 63);
   color: #0D1321;
   border: none;
}
/* 2nd part */
.center{
    background-image: url(B10A1-Challenge-Begins-main/assets/Hero-bg.png);



}
    
.secondary{
  padding: 0px 750px ;
  
}
.hope{
    padding:0px 710px;
}
.contact{
    margin-left: 125px;
    background-color:#0D1321;
    color: #FFFFFF;
    padding: 10px 15px;
    border: none;
}
/* 3rd part */
.third{
    margin-top: 100px;
    padding: 1px 750px;
}

/* third part 2nd ep. */

div ul li{
    list-style: none;
    padding: 75px 200px;
}
div ul{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
   
}
/* inspire */
.suit{
   padding: 0px 500px;
}
.video{
    padding: 50px 600px;
}
/* responsive */
.menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px ;
    padding: 16px ;

}
.menubar{
    width: 325px;
    background-color: #FF4C1E;
      border-radius: 8px;
    overflow: hidden;
    box-shadow:0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
    padding: 15px 30px;    
}
.mangobar{
    width: 325px;
    background-color: #004CE8;
      border-radius: 8px;
    overflow: hidden;
    box-shadow:0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
    padding: 15px 30px;    

}
.penutbar{width: 325px;
    background-color: #FFDF00;
      border-radius: 8px;
    overflow: hidden;
    box-shadow:0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
    padding: 15px 30px;  

}
/* optional */
.suitable{
    padding: 0px 700px;

}
.optional{
    display: flex;
    gap: 20px;;
    padding: 20px 200px;
    align-items: center;
    width:500px;
    height: 120px;
    border-top: 50px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow:0px 2px 4px rgba(0,0,0,0.2);
    margin-left: 350px;

}
/* last */
.drop{padding: 80px 200px;
    align-items: center;
    width:500px;
    height: 120px;
    border-top: 50px;
    border-radius: 8px;
    margin-left: 350px;
    background-image: url(B10A1-Challenge-Begins-main/assets/handshake.jpg); 
    color: #FFFFFF;

}
.con{
    size: 50px 70px;
}




    